DMAP_HOST_IP=192.168.1.10
# Optional explicit overrides:
# DMAP_BACKEND_URL=http://192.168.1.10:8080
# DMAP_SEARCH_BACKEND_URL=http://192.168.1.10:8081
# DMAP_ROUTING_BACKEND_URL=http://192.168.1.10:8082
