.DS_Store
.env
.idea/
*.iml

/android/.gradle/
/android/.kotlin/
/android/build/
/android/local.properties
/android/app/build/

/infra/.cache/
/infra/data/osm/*
!/infra/data/osm/.gitkeep
/infra/data/search/*
!/infra/data/search/.gitkeep
/infra/data/routing/*
!/infra/data/routing/.gitkeep
!/infra/data/routing/valhalla/
/infra/data/routing/valhalla/*
!/infra/data/routing/valhalla/.gitkeep
/infra/data/tiles/*
!/infra/data/tiles/.gitkeep
/infra/tileserver/fonts/*
!/infra/tileserver/fonts/.gitkeep
/infra/tileserver/styles/osm-liberty/*
!/infra/tileserver/styles/osm-liberty/.gitkeep
!/infra/tileserver/styles/osm-liberty/README.md
